html,*,body{
    padding: 0;
    margin: 0;
    text-align: center;
   
}
.heading>h2{
    font-size: 22px;
    padding: 25px;
    font-weight: bolder;
    background-color: #1E3A8A;
    color: #ffff;
    margin-bottom: 50px;
}
#letters-container,#guessed-letters-container,.restart-btn-container{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
#guessed-letters-container{
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30px, 70px));
    justify-content: center;
}


#restart-btn,#hint-btn,#play-again-btn{
    margin: 20px;
    width: 80px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: lighter;
}
#restart-btn:hover,#hint-btn:hover,#play-again-btn:hover{
opacity: 0.8;
}

#play-again-btn{
    width: 120px !important;
}
#hint-btn,#play-again-btn{
    background-color: #1E3A8A;
    border: 1px solid #1E3A8A;
    color: #ffff;
}
#restart-btn{
    background-color: #ffff;
    border: 1px solid #1E3A8A;
    color: #1E3A8A;
}

.alpha,.item{
    padding: 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    color: #1E3A8A;
}
.alpha{
    background-color: #ffff;
    border: 1px solid #1E3A8A;
    font-weight: bolder;
}
.alpha:disabled{
    opacity: 0.4;
}
.alpha:hover{
    transform: scale(1.2);
    background-color: #1E3A8A;
    color: #ffff;
}

.item{
    font-size: 30px;
}
#life-id,#hint-txt{
    font-size: 20px;
    font-weight: bolder;
    color: #1E3A8A;
    opacity: 0.9;
}
.modal-ctnr{
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0,0,0,0.5);
    z-index: 3;
    position: absolute;
    top: 0;
}
.modal-sub-ctnr{
    max-width: 600px;
    background-color: white;
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
}
.modal-heading-txt{
    text-align: center;
    font-size: 25px;
}
.hide{
    display: none;
}
.guessed-letters-container{
    display: grid;
}

/* @media screen and (max-width:635px){
    .guessed-letters-container{
        display: grid;
        grid-area: auto;
    }
    /* .item{
        padding: 4px;
        font-size: 20px;
        font-weight: bolder;
    } */
}
@media screen and (max-width:410px){
   
} */